.wrapper {
  padding-top: 100px;
}

.sizeDiv {
  width: 30vw;
  margin: 0 auto;
  background: url("../img/spy-form.jpg");
  background-size: cover;

  background-repeat: no-repeat;
}
.form-row {
  display: flex;
  flex-direction: column;
  /* display: inline-block centra los elementos */
}
body {
  background: url("../img/spyxfamily.webp");
  background-size: cover;

  background-repeat: no-repeat;
}
.btn-e {
  text-align: center;
}
.container {
  text-align: center;
}
a {
  color: aliceblue;
}
